bin/
obj/
/.axoCover
/.nuget/*.exe
/packages
/TestResults
AssemblyInfoVersion.cs
launchSettings.json
*.build.csdef
*.cache
*.log
*.nupkg
*.opensdf
*.orig
*.rej
*.sdf
*.StyleCop
*.snk
*.suo
*.user
*.userprefs
*.vs10x
*.vsmdi
*.z
.vs/
